html {
  scroll-behavior: smooth;
}

/* img:hover:nth-child(3n+3) {  
    border: 10px solid rgb(209, 71, 61);
} */


#background {
  background-image: url(../images/background.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  margin: 5px;
  padding: 5px;
}


.google_font {
  font-family: "Trirong", serif;
  font-size: 30px;
}

.icon_style {
  font-size: 5px;
}

/* #background h1 {
  animation: grow 5s 1;
} */

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

#background h1{
    font-size: larger;
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 5s; 
    animation-name: 'fadeIn';
    animation-duration: 5s;
    background-color: rgb(169, 169, 235);
}

/* #history {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
} */

footer{
    /* grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1; */
    background-color: #326DED;
    font-size: 20px;
    /* width: 100vw; */
    text-align: center;
    /* position: relative; */
    bottom: 0;
    /* padding: 20px 0px 20px 0px; */

}

footer p{
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  /* margin-left: 10%; */
  width: 95%;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 80%;
  grid-template-rows: repeat(18, auto);
}

/* .grid-container img {
  width: 60%;
} */

.item1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.item1-text {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.item2 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.item2-text {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}
.item3 {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
}
.item3-text {
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
}
.item4 {
  grid-row: 7 / span 1;
  grid-column: 1 / span 1;
}
.item4-text {
  grid-row: 8 / span 1;
  grid-column: 1 / span 1;
}
.item5 {
  grid-row: 9 / span 1;
  grid-column: 1 / span 1;
}
.item5-text {
  grid-row: 10 / span 1;
  grid-column: 1 / span 1;
}
.item6 {
  grid-row: 11 / span 1;
  grid-column: 1 / span 1;
}
.item6-text {
  grid-row: 12 / span 1;
  grid-column: 1 / span 1;
}
.item7 {
  grid-row: 13 / span 1;
  grid-column: 1 / span 1;
}
.item7-text {
  grid-row: 14 / span 1;
  grid-column: 1 / span 1;
}
.item8 {
  grid-row: 15 / span 1;
  grid-column: 1 / span 1;
}
.item8-text {
  grid-row: 16 / span 1;
  grid-column: 1 / span 1;
}
.item9 {
  grid-row: 17 / span 1;
  grid-column: 1 / span 1;
}
.item9-text {
  grid-row: 18 / span 1;
  grid-column: 1 / span 1;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallary img {
  width: 150px;
  height: 150px;
  /* align-items: center; */
  /* margin-left: 130px; */
}

/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

@media only screen and (min-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  a{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(74, 110, 19);
      text-decoration: wheat;
      text-shadow: grey;
  }
  
  a:hover {
      color: hotpink;
  }
  
  .active {
      font-size: larger;
      font-family: fantasy;
      border: 2px solid rgb(209, 71, 61);
  }
  /* .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  } */

  .grid-container {
    /* margin-right: 50fx; */
    display: grid;
    /* justify-content: start;
    align-content: start;
    align-items: start;
    justify-items: start; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .item1-text {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .item2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .item2-text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .item3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .item3-text {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .item4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  .item4-text {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  .item5 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  .item5-text {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }
  .item6 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }
  .item6-text {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
  }
  .item7 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
  }
  .item7-text {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
  }
  .item8 {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
  }
  .item8-text {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
  }
  .item9 {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
  }
  .item9-text {
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
  }

  .gallary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .item {
    flex-basis: 350px;
  }
  .gallary img {
    width: 300px;
    height: 300px;
    margin-left: 100px;
  }
}


@media screen and (prefers-reduced-motion: reduce) {
  #background h1 {
    animation: none;
  }
}

legend {
  font-size: 150%;
  font-style: italic;
  text-align: center;
}

.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: 200px 400px;
}

#puppy {
  width: 50px;
  height: 50px;
  /* background-color: black; */
  background-image: url(../images/puppy.png);
  background-size: 50px 50px;
  position: relative;
  top: 140px;
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px; 
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#bones {
  width: 30px;
  height: 30px;
  position: relative;
  top: 120px;
  left: 580px;
  background-image: url(../images/bones.png);
  background-size: 20px 40px;

  animation: block 1.5s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}